/* Стили только для страницы входа */
body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    
    padding: 20px;
    display: flex;
    justify-content: center; /* Центрируем форму по горизонтали */
}

.login-form {
    background: white;
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
    width: 50%;
    margin-left: 25%;
}

.login-title {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 650px) {
    .login-container {
        width: 100%; /* На мобильных занимает всю ширину */
        padding: 15px;
    }
    
    .login-form {
        padding: 30px 20px;
    }
    
    .login-title {
        font-size: 2rem;
        margin-bottom: 25px;
    }
}